.chatFooter {
  display: flex;
  align-items: center;
  gap: 8px;

  &__wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;

    & textarea {
      outline: 0;
      border: 0;
      flex: 1;
      border-bottom: 1px solid #ccc;
      padding: 12px;
      white-space: pre-wrap;
      resize: none;
    }
  }
}

.btn.send__btn {
  width: fit-content;
  border-radius: 12px;
  margin: 0;
  padding: 8px 16px;
  margin-right: 8px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }
}

.emoji__picker {
  position: absolute;
  right: 84px;
  bottom: 64px;
}

.emoji__wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
  }
}

input[type='file'] {
  display: none;
}

.file__msg__label {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}
