@use '../../../App.scss' as *;

.message {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;

  & img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: $gray__400;
    width: fit-content;
    max-width: 40vw;
    white-space: pre-wrap;

    // &::before {
    //   content: '';
    //   top: 12px;
    //   bottom: 12px;
    //   left: 24px;
    //   right: 76px;
    //   background-color: transparent;
    //   // background-color: red;
    //   position: absolute;
    // }

    &:hover ~ .message__option {
      display: flex;
    }
  }

  &.your__message {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  &__time {
    font-size: 1.2rem;
  }
}

.your__message {
  & .message__text {
    background-color: $blue__500;
    color: #fff;
  }

  .message__option__wrapper {
    flex-direction: row-reverse;
  }

  & .message__wrapper {
    align-items: flex-end;
  }
}

.message__option {
  color: #333;
  display: flex;
  gap: 4px;
  background-color: $gray__300;
  padding: 4px 12px;
  border-radius: 20px;
  display: none;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;

    &:hover .message__option {
      display: flex;
    }
  }
}

.feather {
  display: block;

  &:hover {
    cursor: pointer;
  }
}
